<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/public/index.css" />

  <style type="text/css">
    <%= Rouge::Theme.find('thankful_eyes').render %>
  </style>

  <body><article id="doc"><%= @doc %></article></body>
</html>
